.header
	width: 100vw
	height: 50px
	position: fixed
	top: 0px
	display: flex
	align-items: center
	z-index: 9
	overflow-y: hidden
	box-shadow: 0px 0px 7px 3px rgba(51, 51, 51, .5)

.toolbar
	display: flex

.title
	width: 100vw
	height: 100%
	font-size: 30px
	font-family: 'Roboto Condensed', sans-serif


@media screen and (min-width: 768px)
	.icon
		font-size: 40px