<app-statistics></app-statistics>
<ul class="list center-column">
  <li *ngFor="let contact of contacts" class="item start-center animate__animated animate__fadeInDown" (click)="update(contact.id)">
    <i class="material-icons">account_circle</i>
    <span class="data">
      <p class="data-row start-center"><i class="material-icons">person</i> {{ contact.name }} </p>
      <p class="data-row start-center"><i class="material-icons">phone_iphone</i> {{ contact.phone }} </p>
      <p class="data-row start-center"><i class="material-icons">person_pin_circle</i> {{ contact.address }} </p>
      <p class="data-row start-center"><i class="material-icons">cake</i> {{ contact.birthdate | date }} </p>
    </span>
  </li>
</ul>
