.list
	width: 100vw
	height: calc(100% - 150px)
	list-style: none
	overflow-y: scroll
	overflow-x: hidden
	padding: 15px
	box-sizing: border-box

	&::-webkit-scrollbar
		width: 5px

	&::-webkit-scrollbar-thumb
		border-radius: 20px
		background-color: #3F51B5
 
	&::-webkit-scrollbar-track
		background-color: white

	.item
		width: 100%
		min-height: 87px
		position: relative
		border: 1px solid lightgray
		overflow-y: hidden
		border-radius: 7px
		padding: 7px
		margin-bottom: 7px
		box-sizing: border-box
		cursor: pointer

		.material-icons
			margin-right: 7px
			font-size: 50px

		.data
			width: calc(100% - 60px)

			&-row
				width: 100%
				height: 20px
				margin-bottom: 1px
				font-family: 'Roboto Condensed', sans-serif

				.material-icons
					margin-right: 7px
					font-size: 20px

@media screen and (min-width: 768px)
	.list
		height: calc(100% - 150px)
		display: flex
		flex-direction: row
		justify-content: space-evenly
		flex-wrap: wrap

		.item
			flex-direction: column
			flex-grow: 1
			flex-shrink: 1
			max-width: 300px
			margin: 7px

			&:hover
				color: white
				background-color: #3F51B5