<form [formGroup]="data" class="form start-center-column animate__animated animate__fadeInLeft" (ngSubmit)="upsert(data.value)">
	<div class="form-group center">
		<i class="material-icons center">person</i>
		<input class="input" type="text" formControlName="name" placeholder="Nombre">
	</div>
	<div class="form-group center">
		<i class="material-icons center">phone_iphone</i>
		<input class="input" type="text" formControlName="phone" placeholder="Teléfono">
	</div>
	<div class="form-group center">
		<i class="material-icons center">person_pin_circle</i>
		<input class="input" type="text" formControlName="address" placeholder="Dirección">
	</div>
	<div class="form-group center">
	 		<mat-datepicker-toggle matSuffix [for]="picker2" class="center"></mat-datepicker-toggle>
	  	<input class="input" matInput [matDatepicker]="picker2" formControlName="birthdate" placeholder="Fecha Cumpleaño">
	  	<mat-datepicker #picker2 color="primary"></mat-datepicker>
	</div>
	<div class="form-group center">
		<button mat-button color="primary" type="submit" [disabled]="data.invalid">Guardar</button>
		<a class="destroy center" (click)="destroy()">Eliminar</a>
	</div>
</form>
