.form
	width: 100vw
	min-height: 100%
	padding: 70px 14px
	box-sizing: border-box

	.form-group
		width: 100%
		height: 40px
		margin-bottom: 7px
		overflow-y: hidden

		.material-icons
			width: 10%
			height: 38px
			background-color: white
			border: 1px solid lightgray
			border-right: 0px

		.input
			width: 80%
			height: 38px
			border: 0px
			outline: none
			text-indent: 7px
			border: 1px solid lightgray
			border-left: 0px

			&::placeholder
				font-size: 20px
				color: darkgray

		mat-datepicker-toggle
			width: 10%
			height: 38px
			border: 1px solid lightgray
			border-right: 0px
			overflow-y: hidden
			color: #222

		button
			width: 40%
			height: 38px
			margin: 7px
			color: white
			font-size: 17px
			display: flex
			justify-content: center
			background-color: #3F51B5

		.destroy
			width: 40%
			height: 38px
			margin: 7px
			display: flex
			justify-content: center
			background-color: tomato
			font-size: 17px
			color: white
			border-radius: 7px

@media screen and (min-width: 768px)
	.form
		width: 70vw

@media screen and (min-width: 1024px)
	.form
		width: 50vw