<div class="container">
  <app-header></app-header>
  <main class="main start-center-column">
    <app-contacts *ngIf="!form" (id)="onUpdated($event)"></app-contacts>
    <app-form *ngIf="form" [index]="key" (close)="onClosed($event)"></app-form>
  </main>
  <button mat-fab color="accent" *ngIf="!form" class="fab center" (click)="create()">
    <mat-icon class="icon center">plus_one</mat-icon>
  </button>
</div>
<router-outlet></router-outlet>