.container
	width: 100vw
	height: 100vh
	padding-top: 50px
	box-sizing: border-box
	overflow-y: hidden

.main
	width: 100vw
	height: calc(100vh - 50px)
	align-self: flex-end
	overflow-y: hidden
	overflow: hidden

.fab
	width: 70px
	height: 70px
	position: fixed
	bottom: 25px
	right: 25px
	display: flex
	padding: 0px
	overflow: hidden

.icon
	width: 70px
	height: 70px
	border-radius: 50%
	font-size: 50px
	display: flex


@media screen and (min-width: 768px)
	.main
		.graphs
			.graph
				width: 30%

				&-title
					font-size: 17px

@media screen and (min-width: 1024px)
	.main
		.graphs
			.graph
				width: 20%
			
				&-title
					font-size: 20px