/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css'

*
	margin: 0px
	padding: 0px
	overflow-x: hidden

body
	overflow-y: hidden
	overflow-x: hidden

.center
	display: flex
	justify-content: center
	align-items: center

.center-evenly
	display: flex
	justify-content: space-evenly
	align-items: center

.start-center
	display: flex
	justify-content: flex-start
	align-items: center

.start-center-column
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center

.center-column
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center