<div class="graphs center-evenly">
  <div class="graph center-column">
    <span class="graph-number center">{{ count }}</span>
    <span  class="graph-title center"><i class="material-icons">group_add</i>Contactos</span>
  </div>
  <div class="graph center-column">
    <span class="graph-number center">{{ birthdayboys }}</span>
    <span class="graph-title center"><i class="material-icons">cake</i>Cumpleaños</span>
  </div>
</div>
