.graphs
	width: 100vw
	height: 150px
	z-index: 8

	.graph
		width: 45%
		height: 80%
		border-radius: 7px
		background-image: linear-gradient(to right, #0B69CC 40%, #3F51B5)

		&-title
			width: 100%
			height: 30%
			font-size: 20px
			color: white
			font-family: 'Roboto Condensed', sans-serif

		&-number
			width: 100%
			height: 70%
			font-size: 70px
			color: white
			overflow-y: hidden
			font-family: 'Roboto Condensed', sans-serif

		.material-icons
			margin-right: 7px

@media screen and (min-width: 768px)
	.graphs
		.graph
			width: 20%